.review-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  color: black;
  text-emphasis: bold;
}
.review-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 20px 0px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  padding: 5px;
  width: 90%;
}
